@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    background-image: url(./Obrazy/tlo.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-position: center;
    background-size: 101%;
    background-attachment: fixed;
    background-repeat: no-repeat
}
.logo {
    margin-left: 25px;
    cursor: default;
    z-index: 15;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #27374D;
    z-index: 11;
    width: 100vw;
    position: fixed;
    align-items: center;
}
li, a, button {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.nav_link {
    list-style: none;
}
.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}
.discord {
    z-index: 15;
    margin-right: 25px;
    cursor: pointer;
}
.nav_link a:hover {
    color: lightblue;
    text-shadow: 0px 0px 20px lightblue;
}
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    color: white;
    text-align: center;
    width: 100vw;
    align-items: center;
}
.container h1 {
    font-size: xxx-large;
}
.container p {
    width: 500px;
    margin-top: 15px;
}
.container div {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 30px 70px;
}
.adm-container {
    margin-top: 30px;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
}
.in-container {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 30px 70px;
}
.adm-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 950px;
    color: white;
    text-align: center;
    width: 100vw;
    align-items: center;
}
.adm-container div {
    display: flex;
    flex-direction: column;
}
.adm-container div img {
    padding: 15px 30px 15px 30px;
}
footer {
    background-color: #27374D;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    padding: 30px;
    margin-top: 1500px;
    color: white;
}